{%extends"base.html" %} {% block title%}Dashboard{% endblock%}
{%block navbar%}  {%endblock%}
{%block hero%}  {%endblock%}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
{%block content%}
<body>
    <h1>URL Shortener</h1>
    <form method="POST" action="{{ url_for('views.dashboard') }}">
        <input type="text" name="long_url" placeholder="Enter your long URL" required>
        <input type="submit" value="Shorten">
    </form>

    <div>
        {% if short_url %}
            <p>Your shortened URL is: <a href="{{ short_url }}">{{ short_url }}</a></p>
        {% endif %}
    </div>
</body>
{%endblock%}
</html>
