<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form method="POST" action="/">
        <input type="text" name="long_url" placeholder="Enter your long URL" required>
        <input type="submit" value="Shorten">
    </form>
    <span><p id="result"></p></span>

    <script>
        // Add this script to update the <p> tag with the name 'result'
        var resultElement = document.getElementById("result");
        resultElement.textContent = "{{ short_url }}";
    </script>
</body>
</html>
