{%extends"base.html" %} {% block title%}Sign Up{% endblock%}

{%block navbar%}
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Scissors</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('views.login')}}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="pricing">Pricing</a></li>
        </ul>
     </nav>
    </div>
</header>
{%endblock%}

{%block hero%} {%endblock%}
<br>
<br>

{%block content%}
<br>

<form method="POST">
    <section class="vh-100" style="background-color:  #37517e;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Sign up</h3>
      
                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" name="email"/>
                    <label class="form-label" for="typeEmailX-2">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control form-control-lg" name="username"/>
                    <label class="form-label" for="typeEmailX-2">Full name</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" name="password" />
                    <label class="form-label" for="typePasswordX-2">Password</label>
                  </div>
      
                  <!-- Checkbox -->
                  <!-- <div class="form-check d-flex justify-content-start mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                  </div> -->
      
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
                  <div align="center">
                    <small>
                      Already have an account? <a href="{{url_for('auth.login')}}">Sign in</a>
                    </small>
                    </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div align="center">
        <small>
          Already have an account? <a href="{{url_for('auth.login')}}">Sign in</a>
        </small>
        </div>
</form>
















<!-- <form method="POST" padding style="padding: 10;">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            />
    </div>

    <div class="form-group">
        <label for="FullName">Full name</label>
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter full name"
            />
    </div>

    <div class="form-group">
        <label for="password1">Password</label>
        <input
            type="password"
            class="form-control"
            id="Password"
            name="password"
            placeholder="Enter password"
            />
    </div>

    <br>
    <h4 align ="center">  <button align="center" type="submit" class="btn btn-primary">Submit</button>
    </form></h4>
    -->

{% endblock %}

